.card {
  @include rwd(lg) {
    flex: 0 0 30%;
  }
  @include rwd(llg) {
    flex: 0 0 30%;
  }
  @include rwd(sm) {
    flex: 0 0 45%;
  }
  @include rwd(xs) {
    flex: 0 0 100%;
  }
  &--wrap {
    flex-wrap: wrap;

    @include flex(flex-start, space-between);
  }
  &--img {
    width: 100%;
  }
  &--title {
    margin-bottom: 0.5rem;
    font-weight: 900;
    font-size: 1.7rem;
  }
  &--description {
    display: block;
    margin-bottom: 1.3rem;
  }
  &--price {
    margin-bottom: 1.5rem;
    font-weight: 900;
    font-size: 2rem;
  }
  &--preview {
    display: block;
    padding: 1rem 2rem;
    border: $border-normal;
    border-radius: 0.3rem;
    background: transparent;
    color: $second-color-light;
    transition: $transition-normal;

    @include flex(center, center);
    @include rwd(sm) {
      flex-direction: column;
    }
    &:hover {
      background-color: $bg-color-2;
      color: $second-color;
    }
    .fa {
      margin-right: 0.5rem;
      font-size: 2rem;

      @include rwd(sm) {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
}
