.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 120rem;

  @include rwd(md) {
    padding: 0 1rem;
  }
  @include rwd(lg) {
    padding: 0 2rem;
  }
}
.section-xs {
  padding: 1rem 0;
}
.section-md {
  padding: 5rem 0;
}
