// colors
$primary-color: #427ab3;
$primary-color-darken: darken(#427ab3, 10%);
$second-color-light: #6c757d;
$second-color: #343a40;
$second-color-dark: #212529;
$error-color: #8f1111;
$error-color-darken: darken($error-color, 10%);
$error-color-lighter: lighten($error-color, 15%);

$bg-color-1: #f8f9fa;
$bg-color-2: #ced4da;
$bg-color-dark-1: #3d4e66;
$bg-color-dark-2: darken($bg-color-dark-1, 20%);

$border-color: #dee2e6;

$fs-normal: 1rem;
$fs-sm: $fs-normal + 0.2rem;
$fs-md: $fs-normal + 0.4rem;
$fs-lg: $fs-normal + 0.7rem;
$fs-xl: 2 * $fs-normal;
// borders
$border-normal: 1px solid $border-color;

// transition
$transition-fast: 0.2s ease-in-out;
$transition-normal: 0.4s ease-in-out;
