[class^="btn"] {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
  transition: $transition-fast;
}
.btn--block {
  display: block;
}

.btn--primary {
  background-color: $primary-color;
  &:hover {
    background-color: $primary-color-darken;
  }
}

.btn--error {
  background-color: $error-color;
  &:hover {
    background-color: $error-color-darken;
  }
}
