.main {
  &--left {
    position: relative;
    width: 100%;
    background-color: #fff;
    transition: $transition-normal;
    &.active {
      transform: translateX(-30rem);
    }
    &--overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(white, 0.6);
    }
  }
  &--right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
