.header {
  position: sticky; // 讓下拉選單定位
  top: -2.8rem;
  display: block;
  background-color: #fff;
  > div {
    border-bottom: $border-normal;
  }
}
.sub-header {
  padding: 0.7rem 0;

  @include flex(center, space-between);
  &--country {
    color: $second-color-light;
  }
}
.main-header {
  padding: 1rem 0;

  @include flex(center, space-between);
  > div {
    @include flex();
  }
  &--menu--item {
    margin: 0.5rem;
    padding: 0.5rem;
    color: $second-color;
    font-weight: 900;
  }
  .search-input {
    margin-right: 1rem;
    padding: 0.5rem 0.8rem;
    min-height: 3.8rem;
    border: $border-normal;

    @include flex(center, space-between);
    input {
      min-width: 18rem;
      outline: none;
      border: none;
    }
    .fa {
      margin: 0.7rem;
    }
  }
  .cart {
    display: block;
    padding: 0.5rem;
    color: $second-color-light;
    font-size: $fs-xl;
    position: relative;
    &--badge {
      font-size: $fs-normal;
      display: inline-flex;
      background-color: $error-color-lighter;
      color: #fff;
      width: 1.5rem;
      height: 1.5rem;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -0.3rem;
      right: -0.6rem;
      border-radius: 3rem;
    }
  }
}
